<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img src="<%= camp.image %>"  class="img-responsive">
                <div class="caption-full">
                    <h4 class="float-right">₹<%= camp.price %>/night</h4>
                    <h4><a href="#"><%= camp.name.toUpperCase() %></a></h4>
                    <p><%= camp.description %></p>
                    <p><em>Submitted by - <%= camp.author.username %></em></p>
                    <% if(currentUser && camp.author.id.equals(currentUser._id)) { %>
                        <a href="/camps/<%= camp._id %>/edit" class="btn btn-warning">Edit</a>
                        <form class="delete_form" action="/camps/<%= camp._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a href="/camps/<%= camp._id %>/comments/new" class="btn btn-success" id="addcomment">add new comment</a>
                </div>
                <hr>
                <% camp.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %> - </strong>
                            <span class="float-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a href="/camps/<%= camp._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                                <form class="delete_form" action="/camps/<%= camp._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>